.md-typeset {
  font-size: 0.7rem;
}

.md-typeset h1 {
  color: var(--md-default-fg-color);
  font-weight: 600;
  margin-bottom: 0;
}
.md-typeset h2 {
  font-size: 1.5em;
  font-weight: 600;
  border-bottom: solid 1px var(--md-default-fg-color--lighter);
  padding-bottom: 0.25rem;
  margin-top: 2.5em;
}
.md-typeset h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 2em;
}
.md-typeset h4 {
  font-size: 1em;
  font-weight: 600;
  margin-top: 2em;
}

/** リンクにアイコンを追加 */
.md-content .md-typeset a.external-link::after {
  font-family: "FontAwesome";
  content: "\f08e";
  display: inline-block;
  font-size: 0.5em;
  margin-left: 0.5em;
}

.kr-date {
  margin-top: 1em;
  font-size: 0.6rem;
  color: var(--md-default-fg-color--light);
}
:not(.kr-article-content)>.kr-date {
  margin-bottom: 2em;
}

.kr-date > ::before {
  font-family: "FontAwesome";
  display: inline-block !important;
  margin-right: 0.2rem;
}
.kr-created {
  margin-right: 0.5rem;
}
.kr-created::before {
  content: "\f040" !important;
}
.kr-updated::before {
  content: "\f021" !important;
}

.kr-article {
  display: flex;
  margin-top: 1.5em;
}
.kr-article-category {
  border-radius: 0.5em;
  background: var(--md-default-fg-color--lightest);
  min-width: 4em;
  height: 4em;
  align-items: center;
  justify-content: center;
  display: flex;
}
.kr-article-content {
  margin-left: 1em;
}
.kr-article-content a h3 {
  margin-top: 0;
}
.emoji {
  width: 2em;
  height: 2em;
}

.kr-article-category-tree {
  margin-bottom: 0.5em;
  color: var(--md-default-fg-color--light);
}

.kr-article-category-tree span::after {
  font-family: "FontAwesome";
  display: inline-block !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  content: "\f105" !important;
}